# Advent of code 2018

## Day 1 - part 1

In [1]:
# imports
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import math
from collections import Counter
import datetime
from string import ascii_lowercase
from collections import OrderedDict

In [2]:
df1 = pd.read_csv('../data/advent_of_code/day1.txt', header=None, names=['changes'])
df1.head()

   changes
0      -17
1      -20
2      -15
3       -2
4       -7

Current frequency  0, change of +1; resulting frequency  1.

In [3]:
df1.changes[0]

-17

In [4]:
current_frequency = 0
for change in df1.changes:
    current_frequency += change
current_frequency

580

## Day 1 - part 2

In [5]:
test_list = [-6, +3, +8, +5, -6]

In [6]:
current_frequency = 0
freq_list = []
loop = True
loop_counter = 0
while loop:
    for change in df1.changes:
        current_frequency += change
        if current_frequency in freq_list:
            print(f'First double frequency is: {current_frequency}')
            print(f'current loop: {loop_counter}')
            loop = False
            break
        else:
            freq_list.append(current_frequency)
            loop_counter += 1

First double frequency is: 81972
current loop: 146545

## Day 2 - part 1

- abcdef contains no letters that appear exactly two or three times.
- bababc contains two a and three b, so it counts for both.
- abbcde contains two b, but no letter appears exactly three times.
- abcccd contains three c, but no letter appears exactly two times.
- aabcdd contains two a and two d, but it only counts once.
- abcdee contains two e.
- ababab contains three a and three b, but it only counts once.

Of these box IDs, four of them contain a letter which appears exactly twice, and three of them contain a letter which appears exactly three times. Multiplying these together produces a checksum of 4 * 3 = 12.

In [7]:
df2 = pd.read_csv('../data/advent_of_code/day2.txt', header=None, names=['boxIDs'])
boxid_list = df2.boxIDs.tolist()

In [8]:
boxid_dict = {}
for boxid in boxid_list:
    boxid_dict[boxid] = dict(Counter(boxid))

In [9]:
twices = 0
thrices = 0

for key, value in boxid_dict.items():
    if 2 in value.values():
        twices += 1
    if 3 in value.values():
        thrices += 1
print(f'twices: {twices}\nthrices: {thrices}')

twices: 249
thrices: 26

In [10]:
print(twices * thrices)

6474

## Day 2 - part 2

In [11]:
boxid_test = ['abcde',
             'fghij',
             'klmno',
             'pqrst',
             'fguij',
             'axcye',
             'wvxyz'
            ]

In [12]:
# take first item in list
# remember it
# save it as a dictionary with index as keys and letters as values
# run down the list
# for each new item
# save it as a ditionary with index as keys and letters as values #### maybe do this one for all?
# compare dictionary 1 to dictionary 2
# if values different, remember index in both dictionaries (these are correct boxes)
# if more than one different value, `continue`
# get two correct boxes
# from each, remove characters at matching indexes
# get remaining characters
# return result

In [13]:
boxid_test_dict = {}
for k in boxid_test:
    boxid_test_dict[k] = 0

In [14]:
boxid_test_dict

{'abcde': 0,
 'fghij': 0,
 'klmno': 0,
 'pqrst': 0,
 'fguij': 0,
 'axcye': 0,
 'wvxyz': 0}

In [15]:
def list_from_word(word):
    return [letter for letter in word]

In [16]:
for key in boxid_test_dict.keys():
    boxid_test_dict[key] = (list_from_word(key))
boxid_test_dict

{'abcde': ['a', 'b', 'c', 'd', 'e'],
 'fghij': ['f', 'g', 'h', 'i', 'j'],
 'klmno': ['k', 'l', 'm', 'n', 'o'],
 'pqrst': ['p', 'q', 'r', 's', 't'],
 'fguij': ['f', 'g', 'u', 'i', 'j'],
 'axcye': ['a', 'x', 'c', 'y', 'e'],
 'wvxyz': ['w', 'v', 'x', 'y', 'z']}

In [17]:
list1 = [1,2,3,7,5]
list2 = [1,2,3,3,5]
output = [(i,j) for i, j in zip(list1, list2) if i != j]

In [18]:
len(output)

1

In [19]:
for k, v in boxid_test_dict.items():
    print(k, v)

abcde ['a', 'b', 'c', 'd', 'e']
fghij ['f', 'g', 'h', 'i', 'j']
klmno ['k', 'l', 'm', 'n', 'o']
pqrst ['p', 'q', 'r', 's', 't']
fguij ['f', 'g', 'u', 'i', 'j']
axcye ['a', 'x', 'c', 'y', 'e']
wvxyz ['w', 'v', 'x', 'y', 'z']

In [20]:
id_dict = {}
for boxid_str in boxid_test:
    for character in boxid_str:
        id_dict[boxid_str.index(character)] = character
    current_boxid = id_dict
    #print(current_boxid)
    for boxid_str in boxid_test:
        for character in boxid_str:
            id_dict[boxid_str.index(character)] = character
        next_boxid = id_dict
        #print(next_boxid)
        #print(f'current_boxid: {list(current_boxid.values())}')
        #print(f'next_boxid: {list(next_boxid.values())}')

In [21]:
boxid_test

['abcde', 'fghij', 'klmno', 'pqrst', 'fguij', 'axcye', 'wvxyz']

In [22]:
#boxid_list
pair = ()
#input_list = boxid_test
input_list = boxid_list
for item1 in input_list:
    for item2 in input_list:
        listcomp = [i for i in range(len(item1)) if item1[i] != item2[i]]
        if len(listcomp) == 1:
            result = item1[:listcomp[0]] + item1[listcomp[0] + 1 :]
try:
    print(result)
except:
    print('none found')

mxhwoglxgeauywfkztndcvjqr

## Day 3 - part 1

The four square inches marked with X are claimed by both 1 and 2. (Claim 3, while adjacent to the others, does not overlap either of them.)

If the Elves all proceed with their own plans, none of them will have enough fabric. How many square inches of fabric are within two or more claims?

```
#1 @ 1,3: 4x4
#2 @ 3,1: 4x4
#3 @ 5,5: 2x2
```

```
........
...2222.
...2222.
.11XX22.
.11XX22.
.111133.
.111133.
........
```

Answer == 4

In [23]:
df3 = pd.read_csv('../data/advent_of_code/day3.txt', header=None, names=['claims'], sep='s\+', engine='python')
df3.head()

                claims
0  #1 @ 469,741: 22x26
1  #2 @ 290,985: 25x11
2  #3 @ 794,639: 21x28
3  #4 @ 969,266: 13x11
4  #5 @ 465,103: 24x10

In [24]:
df3['claims_edt'] = df3.claims.str.split()
df3.head()

                claims                claims_edt
0  #1 @ 469,741: 22x26  [#1, @, 469,741:, 22x26]
1  #2 @ 290,985: 25x11  [#2, @, 290,985:, 25x11]
2  #3 @ 794,639: 21x28  [#3, @, 794,639:, 21x28]
3  #4 @ 969,266: 13x11  [#4, @, 969,266:, 13x11]
4  #5 @ 465,103: 24x10  [#5, @, 465,103:, 24x10]

In [25]:
df3['claim_id'] = df3['claims_edt'].str[0].str.replace('#','')
df3['location'] = df3['claims_edt'].str[2].str.replace(':','')
df3['dims'] = df3['claims_edt'].str[3]
df3.head()

                claims                claims_edt claim_id location   dims
0  #1 @ 469,741: 22x26  [#1, @, 469,741:, 22x26]        1  469,741  22x26
1  #2 @ 290,985: 25x11  [#2, @, 290,985:, 25x11]        2  290,985  25x11
2  #3 @ 794,639: 21x28  [#3, @, 794,639:, 21x28]        3  794,639  21x28
3  #4 @ 969,266: 13x11  [#4, @, 969,266:, 13x11]        4  969,266  13x11
4  #5 @ 465,103: 24x10  [#5, @, 465,103:, 24x10]        5  465,103  24x10

In [26]:
df3.location = df3.location.str.split(',')
df3.dims = df3.dims.str.split('x')
df3.head()

,claims,claims_edt,claim_id,location,dims
0,"#1 @ 469,741: 22x26","[#1, @, 469,741:, 22x26]",1,"[469, 741]","[22, 26]"
1,"#2 @ 290,985: 25x11","[#2, @, 290,985:, 25x11]",2,"[290, 985]","[25, 11]"
2,"#3 @ 794,639: 21x28","[#3, @, 794,639:, 21x28]",3,"[794, 639]","[21, 28]"
3,"#4 @ 969,266: 13x11","[#4, @, 969,266:, 13x11]",4,"[969, 266]","[13, 11]"
4,"#5 @ 465,103: 24x10","[#5, @, 465,103:, 24x10]",5,"[465, 103]","[24, 10]"

In [27]:
df3['East'] = df3.location.str[0]
df3['South'] = df3.location.str[1]
df3['Width'] = df3.dims.str[0]
df3['Height'] = df3.dims.str[1]
df3.head()

,claims,claims_edt,claim_id,location,dims,East,South,Width,Height
0,"#1 @ 469,741: 22x26","[#1, @, 469,741:, 22x26]",1,"[469, 741]","[22, 26]",469,741,22,26
1,"#2 @ 290,985: 25x11","[#2, @, 290,985:, 25x11]",2,"[290, 985]","[25, 11]",290,985,25,11
2,"#3 @ 794,639: 21x28","[#3, @, 794,639:, 21x28]",3,"[794, 639]","[21, 28]",794,639,21,28
3,"#4 @ 969,266: 13x11","[#4, @, 969,266:, 13x11]",4,"[969, 266]","[13, 11]",969,266,13,11
4,"#5 @ 465,103: 24x10","[#5, @, 465,103:, 24x10]",5,"[465, 103]","[24, 10]",465,103,24,10

In [28]:
df3.East = pd.to_numeric(df3.East)
df3.South = pd.to_numeric(df3.South)
df3.Width = pd.to_numeric(df3.Width)
df3.Height = pd.to_numeric(df3.Height)
df3.head()

,claims,claims_edt,claim_id,location,dims,East,South,Width,Height
0,"#1 @ 469,741: 22x26","[#1, @, 469,741:, 22x26]",1,"[469, 741]","[22, 26]",469,741,22,26
1,"#2 @ 290,985: 25x11","[#2, @, 290,985:, 25x11]",2,"[290, 985]","[25, 11]",290,985,25,11
2,"#3 @ 794,639: 21x28","[#3, @, 794,639:, 21x28]",3,"[794, 639]","[21, 28]",794,639,21,28
3,"#4 @ 969,266: 13x11","[#4, @, 969,266:, 13x11]",4,"[969, 266]","[13, 11]",969,266,13,11
4,"#5 @ 465,103: 24x10","[#5, @, 465,103:, 24x10]",5,"[465, 103]","[24, 10]",465,103,24,10

In [29]:
#1 @ 1,3: 4x4
#2 @ 3,1: 4x4
#3 @ 5,5: 2x2
test_dict = {'col1': ['#1 @ 1,3: 4x4', '#2 @ 3,1: 4x4','#3 @ 5,5: 2x2'],}
df_test = pd.DataFrame(data=test_dict)
df_test

            col1
0  #1 @ 1,3: 4x4
1  #2 @ 3,1: 4x4
2  #3 @ 5,5: 2x2

In [30]:
df_test['claims_edt'] = df_test.col1.str.split()
df_test['claim_id'] = df_test['claims_edt'].str[0].str.replace('#','')
df_test['location'] = df_test['claims_edt'].str[2].str.replace(':','')
df_test['dims'] = df_test['claims_edt'].str[3]
df_test.location = df_test.location.str.split(',')
df_test.dims = df_test.dims.str.split('x')
df_test['East'] = df_test.location.str[0]
df_test['South'] = df_test.location.str[1]
df_test['Width'] = df_test.dims.str[0]
df_test['Height'] = df_test.dims.str[1]
df_test.East = pd.to_numeric(df_test.East)
df_test.South = pd.to_numeric(df_test.South)
df_test.Width = pd.to_numeric(df_test.Width)
df_test.Height = pd.to_numeric(df_test.Height)

df_test

,col1,claims_edt,claim_id,location,dims,East,South,Width,Height
0,"#1 @ 1,3: 4x4","[#1, @, 1,3:, 4x4]",1,"[1, 3]","[4, 4]",1,3,4,4
1,"#2 @ 3,1: 4x4","[#2, @, 3,1:, 4x4]",2,"[3, 1]","[4, 4]",3,1,4,4
2,"#3 @ 5,5: 2x2","[#3, @, 5,5:, 2x2]",3,"[5, 5]","[2, 2]",5,5,2,2

The four square inches marked with X are claimed by both 1 and 2. (Claim 3, while adjacent to the others, does not overlap either of them.)

If the Elves all proceed with their own plans, none of them will have enough fabric. How many square inches of fabric are within two or more claims?

```
#1 @ 1,3: 4x4
#2 @ 3,1: 4x4
#3 @ 5,5: 2x2
```

```
........
...2222.
...2222.
.11XX22.
.11XX22.
.111133.
.111133.
........
```

Answer == 4

In [31]:
# get sheet dimensions

In [32]:
x = (7,7)
sheet_test = np.zeros(x)
sheet_test

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [33]:
df_test

,col1,claims_edt,claim_id,location,dims,East,South,Width,Height
0,"#1 @ 1,3: 4x4","[#1, @, 1,3:, 4x4]",1,"[1, 3]","[4, 4]",1,3,4,4
1,"#2 @ 3,1: 4x4","[#2, @, 3,1:, 4x4]",2,"[3, 1]","[4, 4]",3,1,4,4
2,"#3 @ 5,5: 2x2","[#3, @, 5,5:, 2x2]",3,"[5, 5]","[2, 2]",5,5,2,2

In [34]:
df_test['east_extent'] = df_test.East + df_test.Width
df_test['south_extent'] = df_test.South + df_test.Height
sheet_x_max = df_test.east_extent.max()
sheet_y_max = df_test.south_extent.max()
sheet_x_max, sheet_y_max

(7, 7)

In [35]:
for row in df_test.itertuples():
    #print(row)
    sheet_test[row.South : row.South + row.Height, row.East : row.East + row.Width] += 1
sheet_test

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1., 1.],
       [0., 1., 1., 2., 2., 1., 1.],
       [0., 1., 1., 2., 2., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1.]])

In [36]:
x = (7,7)
sheet_test2 = np.zeros(x)
sheet_test2

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [37]:
for row in df_test.itertuples():
    #print(row)
    if np.all(sheet_test2[row.South : row.South + row.Height, row.East : row.East + row.Width] == 0):
        sheet_test2[row.South : row.South + row.Height, row.East : row.East + row.Width] += 1
    else:
        sheet_test2[row.South : row.South + row.Height, row.East : row.East + row.Width] = 0
for row in df_test.itertuples():
    if np.sum(sheet_test2[row.South : row.South + row.Height, row.East : row.East + row.Width]) != row.Height * row.Width:
        sheet_test2[row.South : row.South + row.Height, row.East : row.East + row.Width] = 0
    else:
        sheet_test2[row.South : row.South + row.Height, row.East : row.East + row.Width] = row.claim_id
        print(row.claim_id)  
sheet_test2

3

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 3., 3.],
       [0., 0., 0., 0., 0., 3., 3.]])

In [38]:
# count nb of squares where x > 1

In [39]:
sheet_ = (sheet_test > 1).astype(int)
sheet_

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0]])

In [40]:
sheet_.sum()

4

In [41]:
# data
df3.head()

,claims,claims_edt,claim_id,location,dims,East,South,Width,Height
0,"#1 @ 469,741: 22x26","[#1, @, 469,741:, 22x26]",1,"[469, 741]","[22, 26]",469,741,22,26
1,"#2 @ 290,985: 25x11","[#2, @, 290,985:, 25x11]",2,"[290, 985]","[25, 11]",290,985,25,11
2,"#3 @ 794,639: 21x28","[#3, @, 794,639:, 21x28]",3,"[794, 639]","[21, 28]",794,639,21,28
3,"#4 @ 969,266: 13x11","[#4, @, 969,266:, 13x11]",4,"[969, 266]","[13, 11]",969,266,13,11
4,"#5 @ 465,103: 24x10","[#5, @, 465,103:, 24x10]",5,"[465, 103]","[24, 10]",465,103,24,10

In [42]:
# get sheet extent:
df3['east_extent'] = df3.East + df3.Width
df3['south_extent'] = df3.South + df3.Height
sheet_x_max = df3.east_extent.max()
sheet_y_max = df3.south_extent.max()
sheet_x_max, sheet_y_max

(1000, 999)

In [43]:
# create sheet
x = (sheet_x_max, sheet_y_max)
sheet = np.zeros(x)
sheet

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [44]:
# populate patches
for row in df3.itertuples():
    #print(row)
    sheet[row.South : row.South + row.Height, row.East : row.East + row.Width] += 1

In [45]:
# count nb of saqures where x > 1
sheet_ = (sheet > 1).astype(int)
sheet_
# result
sheet_.sum()

96569

## Day 3 - part 2

In [46]:
# data
df3.head()

,claims,claims_edt,claim_id,location,dims,East,South,Width,Height,east_extent,south_extent
0,"#1 @ 469,741: 22x26","[#1, @, 469,741:, 22x26]",1,"[469, 741]","[22, 26]",469,741,22,26,491,767
1,"#2 @ 290,985: 25x11","[#2, @, 290,985:, 25x11]",2,"[290, 985]","[25, 11]",290,985,25,11,315,996
2,"#3 @ 794,639: 21x28","[#3, @, 794,639:, 21x28]",3,"[794, 639]","[21, 28]",794,639,21,28,815,667
3,"#4 @ 969,266: 13x11","[#4, @, 969,266:, 13x11]",4,"[969, 266]","[13, 11]",969,266,13,11,982,277
4,"#5 @ 465,103: 24x10","[#5, @, 465,103:, 24x10]",5,"[465, 103]","[24, 10]",465,103,24,10,489,113

In [47]:
# get sheet extent:
df3['east_extent'] = df3.East + df3.Width
df3['south_extent'] = df3.South + df3.Height
sheet_x_max = df3.east_extent.max()
sheet_y_max = df3.south_extent.max()
#sheet_x_max, sheet_y_max
# create sheet
x = (sheet_x_max, sheet_y_max)
sheet = np.zeros(x)
#sheet
# populate patches
for row in df3.itertuples():
    #print(row)
    sheet[row.South : row.South + row.Height, row.East : row.East + row.Width] += 1 
# count nb of saqures where x > 1
sheet_ = (sheet > 1).astype(int)
sheet_
# result
sheet_.sum()

96569

In [48]:
for row in df3.itertuples():
    #print(row)
    if np.all(sheet[row.South : row.South + row.Height, row.East : row.East + row.Width] == 0):
        sheet[row.South : row.South + row.Height, row.East : row.East + row.Width] += 1
    else:
        sheet[row.South : row.South + row.Height, row.East : row.East + row.Width] = 0
for row in df3.itertuples():
    if np.sum(sheet[row.South : row.South + row.Height, row.East : row.East + row.Width]) != row.Height * row.Width:
        sheet[row.South : row.South + row.Height, row.East : row.East + row.Width] = 0
    else:
        sheet[row.South : row.South + row.Height, row.East : row.East + row.Width] = row.claim_id
        print(row.claim_id)  
sheet

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## Day 4 - part 1

```
[1518-11-01 00:00] Guard #10 begins shift
[1518-11-01 00:05] falls asleep
[1518-11-01 00:25] wakes up
[1518-11-01 00:30] falls asleep
[1518-11-01 00:55] wakes up
[1518-11-01 23:58] Guard #99 begins shift
[1518-11-02 00:40] falls asleep
[1518-11-02 00:50] wakes up
[1518-11-03 00:05] Guard #10 begins shift
[1518-11-03 00:24] falls asleep
[1518-11-03 00:29] wakes up
[1518-11-04 00:02] Guard #99 begins shift
[1518-11-04 00:36] falls asleep
[1518-11-04 00:46] wakes up
[1518-11-05 00:03] Guard #99 begins shift
[1518-11-05 00:45] falls asleep
[1518-11-05 00:55] wakes up
```

year-month-day hour:minute

```
Date   ID   Minute
            000000000011111111112222222222333333333344444444445555555555
            012345678901234567890123456789012345678901234567890123456789
11-01  #10  .....####################.....#########################.....
11-02  #99  ........................................##########..........
11-03  #10  ........................#####...............................
11-04  #99  ....................................##########..............
11-05  #99  .............................................##########.....
```

What is the ID of the guard you chose multiplied by the minute you chose? (In the above example, the answer would be 10 * 24 = 240.)

In [49]:
df4 = pd.read_csv('../data/advent_of_code/day4.txt', header=None, names=['raw'])

In [50]:
df4_test = pd.read_csv('../data/advent_of_code/day4_test.txt', header=None, names=['raw'])

In [51]:
df4['splitted'] = df4.raw.str.split()
df4.head()

,raw,splitted
0,[1518-07-03 23:58] Guard #2437 begins shift,"[[1518-07-03, 23:58], Guard, #2437, begins, sh..."
1,[1518-09-23 00:54] falls asleep,"[[1518-09-23, 00:54], falls, asleep]"
2,[1518-05-08 00:02] Guard #659 begins shift,"[[1518-05-08, 00:02], Guard, #659, begins, shift]"
3,[1518-06-09 00:52] falls asleep,"[[1518-06-09, 00:52], falls, asleep]"
4,[1518-07-27 00:59] wakes up,"[[1518-07-27, 00:59], wakes, up]"

In [52]:
df4_test['splitted'] = df4_test.raw.str.split()
df4_test.head()

,raw,splitted
0,[1518-11-01 00:00] Guard #10 begins shift,"[[1518-11-01, 00:00], Guard, #10, begins, shift]"
1,[1518-11-01 00:05] falls asleep,"[[1518-11-01, 00:05], falls, asleep]"
2,[1518-11-01 00:25] wakes up,"[[1518-11-01, 00:25], wakes, up]"
3,[1518-11-01 00:30] falls asleep,"[[1518-11-01, 00:30], falls, asleep]"
4,[1518-11-01 00:55] wakes up,"[[1518-11-01, 00:55], wakes, up]"

In [53]:
# fix time to datetime
# datetime.datetime(year=1518,month=07,day=03,23,58)
# example:
t = datetime.datetime(year=1518,month=7,day=3,hour=23,minute=58)

In [54]:
# need to convert time to datetime
df4['time'] = df4.splitted.str[0].str.replace('[', '') + ' ' + df4.splitted.str[1].str.replace(']','')
df4['guard'], df4['guard_id'], df4['shift_start'], df4['sleep_stat'] = '','','',''
for row in df4.itertuples():
    time = df4.loc[row.Index, 'time']
    df4.loc[row.Index, 'time'] = datetime.datetime.strptime(time, "%Y-%m-%d %H:%M")
    if 'Guard' in row.splitted:
        df4.loc[row.Index, 'guard'] = df4.loc[row.Index, 'splitted'][2]
        df4.loc[row.Index, 'guard_id'] = df4.loc[row.Index, 'splitted'][3].replace('#', '')
        df4.loc[row.Index, 'shift_start'] = df4.loc[row.Index, 'splitted'][4] + ' ' + df4.loc[row.Index, 'splitted'][5]
        df4.loc[row.Index, 'sleep_stat'] = np.nan
    else:
        df4.loc[row.Index, 'guard'] = np.nan
        df4.loc[row.Index, 'guard_id'] = np.nan
        df4.loc[row.Index, 'shift_start'] = np.nan
        df4.loc[row.Index, 'sleep_stat'] = df4.loc[row.Index, 'splitted'][2] + ' ' + df4.loc[row.Index, 'splitted'][3]
df4.head()

,raw,splitted,time,guard,guard_id,shift_start,sleep_stat
0,[1518-07-03 23:58] Guard #2437 begins shift,"[[1518-07-03, 23:58], Guard, #2437, begins, sh...",1518-07-03 23:58:00,Guard,2437,begins shift,NaN
1,[1518-09-23 00:54] falls asleep,"[[1518-09-23, 00:54], falls, asleep]",1518-09-23 00:54:00,NaN,NaN,NaN,falls asleep
2,[1518-05-08 00:02] Guard #659 begins shift,"[[1518-05-08, 00:02], Guard, #659, begins, shift]",1518-05-08 00:02:00,Guard,659,begins shift,NaN
3,[1518-06-09 00:52] falls asleep,"[[1518-06-09, 00:52], falls, asleep]",1518-06-09 00:52:00,NaN,NaN,NaN,falls asleep
4,[1518-07-27 00:59] wakes up,"[[1518-07-27, 00:59], wakes, up]",1518-07-27 00:59:00,NaN,NaN,NaN,wakes up

In [55]:
# need to convert time to datetime
df4_test['time'] = df4_test.splitted.str[0].str.replace('[', '') + ' ' + df4_test.splitted.str[1].str.replace(']','')
df4_test['guard'], df4_test['guard_id'], df4_test['shift_start'], df4_test['sleep_stat'] = '','','',''
for row in df4_test.itertuples():
    time = df4_test.loc[row.Index, 'time']
    df4_test.loc[row.Index, 'time'] = datetime.datetime.strptime(time, "%Y-%m-%d %H:%M")
    if 'Guard' in row.splitted:
        df4_test.loc[row.Index, 'guard'] = df4_test.loc[row.Index, 'splitted'][2]
        df4_test.loc[row.Index, 'guard_id'] = df4_test.loc[row.Index, 'splitted'][3].replace('#', '')
        df4_test.loc[row.Index, 'shift_start'] = df4_test.loc[row.Index, 'splitted'][4] + ' ' + df4_test.loc[row.Index, 'splitted'][5]
        df4_test.loc[row.Index, 'sleep_stat'] = np.nan
    else:
        df4_test.loc[row.Index, 'guard'] = np.nan
        df4_test.loc[row.Index, 'guard_id'] = np.nan
        df4_test.loc[row.Index, 'shift_start'] = np.nan
        df4_test.loc[row.Index, 'sleep_stat'] = df4_test.loc[row.Index, 'splitted'][2] + ' ' + df4_test.loc[row.Index, 'splitted'][3]

In [56]:
df4 = df4.sort_values(by=['time'])
df4.head()

,raw,splitted,time,guard,guard_id,shift_start,sleep_stat
168,[1518-02-21 23:56] Guard #2239 begins shift,"[[1518-02-21, 23:56], Guard, #2239, begins, sh...",1518-02-21 23:56:00,Guard,2239,begins shift,NaN
854,[1518-02-22 00:19] falls asleep,"[[1518-02-22, 00:19], falls, asleep]",1518-02-22 00:19:00,NaN,NaN,NaN,falls asleep
913,[1518-02-22 00:37] wakes up,"[[1518-02-22, 00:37], wakes, up]",1518-02-22 00:37:00,NaN,NaN,NaN,wakes up
243,[1518-02-22 00:44] falls asleep,"[[1518-02-22, 00:44], falls, asleep]",1518-02-22 00:44:00,NaN,NaN,NaN,falls asleep
963,[1518-02-22 00:54] wakes up,"[[1518-02-22, 00:54], wakes, up]",1518-02-22 00:54:00,NaN,NaN,NaN,wakes up

In [57]:
df4_test = df4_test.sort_values(by=['time'])

In [58]:
df4.reset_index(drop=True, inplace=True)

In [59]:
df4_test.reset_index(drop=True, inplace=True)

In [60]:
df4.head()

,raw,splitted,time,guard,guard_id,shift_start,sleep_stat
0,[1518-02-21 23:56] Guard #2239 begins shift,"[[1518-02-21, 23:56], Guard, #2239, begins, sh...",1518-02-21 23:56:00,Guard,2239,begins shift,NaN
1,[1518-02-22 00:19] falls asleep,"[[1518-02-22, 00:19], falls, asleep]",1518-02-22 00:19:00,NaN,NaN,NaN,falls asleep
2,[1518-02-22 00:37] wakes up,"[[1518-02-22, 00:37], wakes, up]",1518-02-22 00:37:00,NaN,NaN,NaN,wakes up
3,[1518-02-22 00:44] falls asleep,"[[1518-02-22, 00:44], falls, asleep]",1518-02-22 00:44:00,NaN,NaN,NaN,falls asleep
4,[1518-02-22 00:54] wakes up,"[[1518-02-22, 00:54], wakes, up]",1518-02-22 00:54:00,NaN,NaN,NaN,wakes up

In [61]:
df4.drop(columns=['raw', 'splitted'], inplace=True)

In [62]:
df4_test.drop(columns=['raw', 'splitted'], inplace=True)

In [63]:
df4.head(10)

                  time  guard guard_id   shift_start    sleep_stat
0  1518-02-21 23:56:00  Guard     2239  begins shift           NaN
1  1518-02-22 00:19:00    NaN      NaN           NaN  falls asleep
2  1518-02-22 00:37:00    NaN      NaN           NaN      wakes up
3  1518-02-22 00:44:00    NaN      NaN           NaN  falls asleep
4  1518-02-22 00:54:00    NaN      NaN           NaN      wakes up
5  1518-02-23 00:00:00  Guard     3323  begins shift           NaN
6  1518-02-23 00:31:00    NaN      NaN           NaN  falls asleep
7  1518-02-23 00:40:00    NaN      NaN           NaN      wakes up
8  1518-02-23 00:43:00    NaN      NaN           NaN  falls asleep
9  1518-02-23 00:50:00    NaN      NaN           NaN      wakes up

In [64]:
df4['asleep'] = np.nan
for row in df4.itertuples():
    #print(row.asleep)
    if row.guard == 'Guard':
        continue
    if np.isnan(row.guard):
        df4.loc[row.Index, 'guard_id'] = df4.loc[row.Index - 1, 'guard_id']
    if row.sleep_stat == 'falls asleep':
        start_sleep = row.time.minute
    if row.sleep_stat == 'wakes up':
        asleep_time = row.time.minute - start_sleep
        df4.loc[row.Index,'asleep'] = asleep_time

In [65]:
df4_test['asleep'] = np.nan
for row in df4_test.itertuples():
    #print(row.asleep)
    if row.guard == 'Guard':
        continue
    if np.isnan(row.guard):
        df4_test.loc[row.Index, 'guard_id'] = df4_test.loc[row.Index - 1, 'guard_id']
    if row.sleep_stat == 'falls asleep':
        start_sleep = row.time.minute
    if row.sleep_stat == 'wakes up':
        asleep_time = row.time.minute - start_sleep
        df4_test.loc[row.Index,'asleep'] = asleep_time

In [66]:
df4.head(15)

                   time  guard guard_id   shift_start    sleep_stat  asleep
0   1518-02-21 23:56:00  Guard     2239  begins shift           NaN     NaN
1   1518-02-22 00:19:00    NaN     2239           NaN  falls asleep     NaN
2   1518-02-22 00:37:00    NaN     2239           NaN      wakes up    18.0
3   1518-02-22 00:44:00    NaN     2239           NaN  falls asleep     NaN
4   1518-02-22 00:54:00    NaN     2239           NaN      wakes up    10.0
5   1518-02-23 00:00:00  Guard     3323  begins shift           NaN     NaN
6   1518-02-23 00:31:00    NaN     3323           NaN  falls asleep     NaN
7   1518-02-23 00:40:00    NaN     3323           NaN      wakes up     9.0
8   1518-02-23 00:43:00    NaN     3323           NaN  falls asleep     NaN
9   1518-02-23 00:50:00    NaN     3323           NaN      wakes up     7.0
10  1518-02-23 23:59:00  Guard     1303  begins shift           NaN     NaN
11  1518-02-24 00:27:00    NaN     1303           NaN  falls asleep     NaN
12  1518-02-24 00:35:00    NaN     1303           NaN      wakes up     8.0
13  1518-02-24 00:53:00    NaN     1303           NaN  falls asleep     NaN
14  1518-02-24 00:59:00    NaN     1303           NaN      wakes up     6.0

In [67]:
df4.groupby(df4.guard_id).sum().sort_values('asleep', ascending=False).head()

          asleep
guard_id
1901       551.0
2437       492.0
1307       491.0
1447       487.0
3011       450.0

In [68]:
df4_test.groupby(df4_test.guard_id).sum().sort_values('asleep', ascending=False).head()

          asleep
guard_id
10          50.0
99          30.0

In [69]:
df4.time[0].minute

56

In [70]:
df4_ = df4.loc[df4['guard_id'] == '1901'].copy()

In [71]:
df4_test_ = df4_test.loc[df4_test['guard_id'] == '10'].copy()

In [72]:
df4_test_.reset_index(drop=True, inplace=True)

In [73]:
df4_.head()

                   time  guard guard_id   shift_start    sleep_stat  asleep
20  1518-02-25 23:57:00  Guard     1901  begins shift           NaN     NaN
21  1518-02-26 00:22:00    NaN     1901           NaN  falls asleep     NaN
22  1518-02-26 00:58:00    NaN     1901           NaN      wakes up    36.0
56  1518-03-08 00:00:00  Guard     1901  begins shift           NaN     NaN
57  1518-03-08 00:39:00    NaN     1901           NaN  falls asleep     NaN

In [74]:
df4_['minute'] = np.nan

In [75]:
df4_test_['minute'] = np.nan

In [76]:
df4_.head()

,time,guard,guard_id,shift_start,sleep_stat,asleep,minute
20,1518-02-25 23:57:00,Guard,1901,begins shift,NaN,NaN,NaN
21,1518-02-26 00:22:00,NaN,1901,NaN,falls asleep,NaN,NaN
22,1518-02-26 00:58:00,NaN,1901,NaN,wakes up,36.0,NaN
56,1518-03-08 00:00:00,Guard,1901,begins shift,NaN,NaN,NaN
57,1518-03-08 00:39:00,NaN,1901,NaN,falls asleep,NaN,NaN

In [77]:
for row in df4_.itertuples():
    df4_.loc[row.Index, 'minute'] = row.time.minute

In [78]:
for row in df4_test_.itertuples():
    df4_test_.loc[row.Index, 'minute'] = row.time.minute

In [79]:
df4_.tail()

,time,guard,guard_id,shift_start,sleep_stat,asleep,minute
909,1518-10-16 00:30:00,NaN,1901,NaN,falls asleep,NaN,30.0
910,1518-10-16 00:52:00,NaN,1901,NaN,wakes up,22.0,52.0
1051,1518-11-21 23:56:00,Guard,1901,begins shift,NaN,NaN,56.0
1052,1518-11-22 00:38:00,NaN,1901,NaN,falls asleep,NaN,38.0
1053,1518-11-22 00:42:00,NaN,1901,NaN,wakes up,4.0,42.0

In [80]:
sleep_minutes = []
for row in df4_.itertuples():
    #print(row)
    if row.guard == 'Guard':
        continue
    if row.sleep_stat == 'falls asleep':
        start_range = df4_.loc[row.Index, 'minute']
    if row.sleep_stat == 'wakes up':
        stop_range = df4_.loc[row.Index, 'minute']
        sleep_range = range(int(start_range), int(stop_range))
        sleep_minutes.extend(list(sleep_range))

In [81]:
max(sleep_minutes,key=sleep_minutes.count)

41

In [82]:
sleep_minutes = []
for row in df4_test_.itertuples():
    #print(row)
    if row.guard == 'Guard':
        continue
    if row.sleep_stat == 'falls asleep':
        start_range = df4_test_.loc[row.Index, 'minute']
    if row.sleep_stat == 'wakes up':
        stop_range = df4_test_.loc[row.Index, 'minute']
        sleep_range = range(int(start_range), int(stop_range))
        sleep_minutes.extend(list(sleep_range))

In [83]:
max(sleep_minutes,key=sleep_minutes.count)

24

In [84]:
41 * 1901

77941

## Day 4 - part 2

```
Date   ID   Minute
            000000000011111111112222222222333333333344444444445555555555
            012345678901234567890123456789012345678901234567890123456789
11-01  #10  .....####################.....#########################.....
11-02  #99  ........................................##########..........
11-03  #10  ........................#####...............................
11-04  #99  ....................................##########..............
11-05  #99  .............................................##########.....
```

What is the ID of the guard you chose multiplied by the minute you chose? (In the above example, the answer would be 99 * 45 = 4455.)

In [85]:
df4_.head(9)

,time,guard,guard_id,shift_start,sleep_stat,asleep,minute
20,1518-02-25 23:57:00,Guard,1901,begins shift,NaN,NaN,57.0
21,1518-02-26 00:22:00,NaN,1901,NaN,falls asleep,NaN,22.0
22,1518-02-26 00:58:00,NaN,1901,NaN,wakes up,36.0,58.0
56,1518-03-08 00:00:00,Guard,1901,begins shift,NaN,NaN,0.0
57,1518-03-08 00:39:00,NaN,1901,NaN,falls asleep,NaN,39.0
58,1518-03-08 00:49:00,NaN,1901,NaN,wakes up,10.0,49.0
69,1518-03-11 00:04:00,Guard,1901,begins shift,NaN,NaN,4.0
70,1518-03-11 00:13:00,NaN,1901,NaN,falls asleep,NaN,13.0
71,1518-03-11 00:59:00,NaN,1901,NaN,wakes up,46.0,59.0

need list of sleep minutes for each guard and each date

create dictionary with:

- 'date, id': [list of sleeping minutes]
- 'date, id': [list of sleeping minutes]
- 'date, id': [list of sleeping minutes]
- ...

In [86]:
df4_test.head()

                  time  guard guard_id   shift_start    sleep_stat  asleep
0  1518-11-01 00:00:00  Guard       10  begins shift           NaN     NaN
1  1518-11-01 00:05:00    NaN       10           NaN  falls asleep     NaN
2  1518-11-01 00:25:00    NaN       10           NaN      wakes up    20.0
3  1518-11-01 00:30:00    NaN       10           NaN  falls asleep     NaN
4  1518-11-01 00:55:00    NaN       10           NaN      wakes up    25.0

In [87]:
df4.head()

                  time  guard guard_id   shift_start    sleep_stat  asleep
0  1518-02-21 23:56:00  Guard     2239  begins shift           NaN     NaN
1  1518-02-22 00:19:00    NaN     2239           NaN  falls asleep     NaN
2  1518-02-22 00:37:00    NaN     2239           NaN      wakes up    18.0
3  1518-02-22 00:44:00    NaN     2239           NaN  falls asleep     NaN
4  1518-02-22 00:54:00    NaN     2239           NaN      wakes up    10.0

In [88]:
sleep_dict = {}
for row in df4_test.itertuples():
    if df4_test.loc[row.Index, 'guard'] == 'Guard':
        sleep_cycle = 0
    if df4_test.loc[row.Index, 'sleep_stat'] == 'falls asleep':
        sleep_cycle += 1
        date_cycle = df4_test.loc[row.Index, 'time'].month, df4_test.loc[row.Index, 'time'].day, sleep_cycle
        guard_id = df4_test.loc[row.Index, 'guard_id']
        start_range = df4_test.loc[row.Index, 'time'].minute
    if df4_test.loc[row.Index, 'sleep_stat'] == 'wakes up':
        end_range = df4_test.loc[row.Index, 'time'].minute
        list_asleep = [minute for minute in range(start_range, end_range)]
        sleep_dict[row.Index] = {'date_cycle': date_cycle, 'ID': guard_id, 'asleep': list_asleep}

In [89]:
sleep_dict = {}
for row in df4.itertuples():
    if df4.loc[row.Index, 'guard'] == 'Guard':
        sleep_cycle = 0
    if df4.loc[row.Index, 'sleep_stat'] == 'falls asleep':
        sleep_cycle += 1
        date_cycle = df4.loc[row.Index, 'time'].month, df4.loc[row.Index, 'time'].day, sleep_cycle
        guard_id = df4.loc[row.Index, 'guard_id']
        start_range = df4.loc[row.Index, 'time'].minute
    if df4.loc[row.Index, 'sleep_stat'] == 'wakes up':
        end_range = df4.loc[row.Index, 'time'].minute
        list_asleep = [minute for minute in range(start_range, end_range)]
        sleep_dict[row.Index] = {'date_cycle': date_cycle, 'ID': guard_id, 'asleep': list_asleep}

In [90]:
#sleep_dict

In [91]:
sleep_list = []
for i in range(60):
    for k in sleep_dict.keys():
        #print(f'{i}/{sleep_dict[k]["ID"]}: {sleep_dict[k]["asleep"].count(i)}')
        sleep_list.append((i, sleep_dict[k]['ID'], sleep_dict[k]['asleep'].count(i)))

In [92]:
sleep_list[:5]

[(0, '2239', 0),
 (0, '2239', 0),
 (0, '3323', 0),
 (0, '3323', 0),
 (0, '1303', 0)]

In [93]:
c = Counter((elem[0], elem[1], elem[2]) for elem in sleep_list if elem[2] == 1)

In [94]:
c.most_common()[0]

((27, '1307', 1), 18)

In [95]:
print(c.most_common()[0][0][0], int(c.most_common()[0][0][1]))
c.most_common()[0][0][0] * int(c.most_common()[0][0][1])

27 1307

35289

In [96]:
c.most_common()[:5]

[((27, '1307', 1), 18),
 ((26, '1307', 1), 16),
 ((28, '1307', 1), 16),
 ((41, '1901', 1), 16),
 ((29, '1307', 1), 15)]

## Day 5 - part 1

For example:

- In aA, a and A react, leaving nothing behind.
- In abBA, bB destroys itself, leaving aA. As above, this then destroys itself, leaving nothing.
- In abAB, no two adjacent units are of the same type, and so nothing happens.
- In aabAAB, even though aa and AA are of the same type, their polarities match, and so nothing happens.

in `dabAcCaCBAcCcaDA`:

```
dabAcCaCBAcCcaDA  The first 'cC' is removed.
dabAaCBAcCcaDA    This creates 'Aa', which is removed.
dabCBAcCcaDA      Either 'cC' or 'Cc' are removed (the result is the same).
dabCBAcaDA        No further actions can be taken.
```

After all possible reactions, the resulting polymer contains 10 units.

How many units remain after fully reacting the polymer you scanned?

In [97]:
df5_test = pd.read_csv('../data/advent_of_code/day5_test.txt')
df5 = pd.read_csv('../data/advent_of_code/day5.txt')
polymer_test = df5_test.columns[0]
polymer = df5.columns[0]

In [98]:
polymer_test, len(polymer_test)

('dabAcCaCBAcCcaDA', 16)

In [99]:
len(polymer)

50000

In [100]:
def shorten_string(input_tuple):
    """return a string with index and index + 1 removed"""
    string = input_tuple[0]
    index = input_tuple[1]
    output = (string[:index] + string[index + 2:])
    return output

In [101]:
def string_walker(string):
    """return string without matching doubles"""
    for i in range(len(string[:-1])):
        try:
            l = string[i]
            string[i+1]
        except IndexError:
            break
        if l.islower():
            if string[i+1].islower():
                continue
            if string[i+1].lower() == l:
                string = shorten_string((string, i))
        if l.isupper():
            if string[i+1].isupper():
                continue
            if string[i+1].upper() == l:
                string = shorten_string((string, i))
    return string

In [102]:
def loop_caller(string):
    """call function"""
    for i in range(len(string)):
        string = string_walker(string)
    return string

In [103]:
'dabCBAcaDA' == loop_caller(polymer_test)

True

In [104]:
len(loop_caller(polymer_test))

10

In [105]:
len(loop_caller(polymer))

10766

## Day 5 - part 2

For example, again using the polymer `dabAcCaCBAcCcaDA` from above:

- Removing all A/a units produces `dbcCCBcCcD`. Fully reacting this polymer produces `dbCBcD`, which has length 6.
- Removing all B/b units produces `daAcCaCAcCcaDA`. Fully reacting this polymer produces `daCAcaDA`, which has length 8.
- Removing all C/c units produces `dabAaBAaDA`. Fully reacting this polymer produces `daDA`, which has length 4.
- Removing all D/d units produces `abAcCaCBAcCcaA`. Fully reacting this polymer produces `abCBAc`, which has length 6.

In this example, removing all C/c units was best, producing the answer 4.

What is the length of the shortest polymer you can produce by removing all units of exactly one type and fully reacting the result?

In [106]:
len(polymer)

50000

In [107]:
test = [('a', 23), ('b', 34), ('c', 12)]

In [108]:
min(test, key=lambda t: t[1])

('c', 12)

In [109]:
results = []
for c in ascii_lowercase:
    test_ = polymer
    c_upper = c.upper()
    test_ = test_.replace(c, '')
    test_ = test_.replace(c_upper, '')
    results.append((c, len(loop_caller(test_))))
print(min(results, key=lambda t: t[1]))

('p', 6538)

## Day 6 - part 1

Using only the [Manhattan distance](https://en.wikipedia.org/wiki/Taxicab_geometry), determine the area around each coordinate by counting the number of integer X,Y locations that are closest to that coordinate (and aren't tied in distance to any other coordinate).

Your goal is to find the size of the largest area that isn't infinite. For example, consider the following list of coordinates:

```
1, 1
1, 6
8, 3
3, 4
5, 5
8, 9
```

If we name these coordinates A through F, we can draw them on a grid, putting 0,0 at the top left:

```
..........
.A........
..........
........C.
...D......
.....E....
.B........
..........
..........
........F.
```

This view is partial - the actual grid extends infinitely in all directions. Using the Manhattan distance, each location's closest coordinate can be determined, shown here in lowercase:

```
aaaaa.cccc
aAaaa.cccc
aaaddecccc
aadddeccCc
..dDdeeccc
bb.deEeecc
bBb.eeee..
bbb.eeefff
bbb.eeffff
bbb.ffffFf
```

Locations shown as . are equally far from two or more coordinates, and so they don't count as being closest to any.

In this example, the areas of coordinates A, B, C, and F are infinite - while not shown here, their areas extend forever outside the visible grid. However, the areas of coordinates D and E are finite: D is closest to 9 locations, and E is closest to 17 (both including the coordinate's location itself). Therefore, in this example, the size of the largest area is 17.

What is the size of the largest area that isn't infinite?

In [110]:
# import data
df6_test = pd.read_csv('../data/advent_of_code/day6_test.txt', header=None, names=['X', 'Y'])
df6_test.index = df6_test.index + 1
df6 = pd.read_csv('../data/advent_of_code/day6.txt', header=None, names=['X', 'Y'])
df6.index = df6.index + 1

In [111]:
# Helper functions

def make_sheet(dataframe):
    """make sheet based on input dataframe"""
    # get max extent to right and bottom
    nb_uids = dataframe.shape[0]
    max_x = dataframe['X'].max()
    max_y = dataframe['Y'].max()
    # make sheet
    sheet = np.zeros((nb_uids + 1, max_x + 1, max_y + 1))
    sheet[0][:] = np.nan
    for row in dataframe.itertuples():
        sheet[row.Index, row.X, row.Y] = row.Index
    return sheet

def manhattan_dist(x, y):
    """return manhattan distance between two points
    x[0,1] and y[0,1]
    """
    return abs(x[0] - y[0]) + abs(x[1] - y[1])

def manhattan_dist_by_target(dataframe, sheet):
    """calculate manhattan distance to all points in sheet from each point in dataframe"""
    for row in dataframe.itertuples():
        for arr_index, arr_val in np.ndenumerate(sheet[row.Index]):
            sheet[row.Index][arr_index[0],arr_index[1]] = manhattan_dist(list(arr_index), [row.X, row.Y])
    return sheet

def get_max_area(sheet):
    """count area of each type and save to dict, then return max area id and value, only if id not on edge"""
    top = sheet[0][0]
    base = sheet[0][-1]
    left = sheet[0][:,0]
    right = sheet[0][:,-1]
    edge_set = set(list(top) + list(base) + list(left) + list(right))

    unique, counts = np.unique(sheet[0], return_counts=True)
    areas = dict(zip(unique, counts))
    
    final_areas = {}
    for k, v in areas.items():
        if k not in edge_set and not np.isnan(k):
            final_areas[k] = v

    maxarea_final = max(zip(final_areas.values(), final_areas.keys()))
    
    print(f'Max area ID: {int(maxarea_final[1])}\nMax area: {maxarea_final[0]}')
    return

In [112]:
sheet = make_sheet(df6_test)
manhattan_dist_by_target(df6_test, sheet)

array([[[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]],

       [[ 2.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 1.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 2.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 3.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
        [ 4.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.],
        [ 5.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.],
        [ 6.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.],
        [ 7.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14.],
        [ 8.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15.]],

       [[ 7.,  6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.],
        [ 6.,  5.,  4.,  3.,  2.,  1.,  0.,  1.,  2.,  3.],
        [ 7.,  6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.],
        [ 8.,  7.,  6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.],
        [ 9.,  8.,  7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.],
        [10.,  9.,  8.,  7.,  6.,  5.,  4.,  5.,  6.,  7.],
        [11., 10.,  9.,  8.,  7.,  6.,  5.,  6.,  7.,  8.],
        [12., 11., 10.,  9.,  8.,  7.,  6.,  7.,  8.,  9.],
        [13., 12., 11., 10.,  9.,  8.,  7.,  8.,  9., 10.]],

       [[11., 10.,  9.,  8.,  9., 10., 11., 12., 13., 14.],
        [10.,  9.,  8.,  7.,  8.,  9., 10., 11., 12., 13.],
        [ 9.,  8.,  7.,  6.,  7.,  8.,  9., 10., 11., 12.],
        [ 8.,  7.,  6.,  5.,  6.,  7.,  8.,  9., 10., 11.],
        [ 7.,  6.,  5.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
        [ 6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.,  6.,  7.],
        [ 3.,  2.,  1.,  0.,  1.,  2.,  3.,  4.,  5.,  6.]],

       [[ 7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.,  7.],
        [ 5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.,  6.],
        [ 4.,  3.,  2.,  1.,  0.,  1.,  2.,  3.,  4.,  5.],
        [ 5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.,  6.],
        [ 6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.,  7.],
        [ 7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 8.,  7.,  6.,  5.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 9.,  8.,  7.,  6.,  5.,  6.,  7.,  8.,  9., 10.]],

       [[10.,  9.,  8.,  7.,  6.,  5.,  6.,  7.,  8.,  9.],
        [ 9.,  8.,  7.,  6.,  5.,  4.,  5.,  6.,  7.,  8.],
        [ 8.,  7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.],
        [ 7.,  6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.],
        [ 6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.],
        [ 5.,  4.,  3.,  2.,  1.,  0.,  1.,  2.,  3.,  4.],
        [ 6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.],
        [ 7.,  6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.],
        [ 8.,  7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.]],

       [[17., 16., 15., 14., 13., 12., 11., 10.,  9.,  8.],
        [16., 15., 14., 13., 12., 11., 10.,  9.,  8.,  7.],
        [15., 14., 13., 12., 11., 10.,  9.,  8.,  7.,  6.],
        [14., 13., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.],
        [13., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.],
        [12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.],
        [11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.],
        [10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,  1.],
        [ 9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,  1.,  0.]]])

In [113]:
num_ids = sheet.shape[0]
temp_dict = {}
for arr_index, arr_val in np.ndenumerate(sheet[0]):
    temp_list = []
    for i in list(range(num_ids))[1:]:
        temp_list.append(sheet[i][arr_index])
    if temp_list.count(min(temp_list)) == 1:
        temp_dict[arr_index] = temp_list.index(min(temp_list)) + 1
    else:
        temp_dict[arr_index] = np.nan

In [114]:
num_ids = sheet.shape[0]
temp_dict = {}
for arr_index, arr_val in np.ndenumerate(sheet[0]):
    temp_list = []
    for i in list(range(num_ids))[1:]:
        temp_list.append(sheet[i][arr_index])
    if temp_list.count(min(temp_list)) == 1:
        sheet[0][arr_index] = temp_list.index(min(temp_list)) + 1
    else:
        sheet[0][arr_index] = np.nan
sheet

array([[[ 1.,  1.,  1.,  1., nan,  2.,  2.,  2.,  2.,  2.],
        [ 1.,  1.,  1.,  1., nan,  2.,  2.,  2.,  2.,  2.],
        [ 1.,  1.,  1.,  4.,  4., nan,  2.,  2.,  2.,  2.],
        [ 1.,  1.,  4.,  4.,  4.,  4., nan, nan, nan, nan],
        [ 1.,  1.,  4.,  4.,  4.,  5.,  5.,  5.,  5.,  6.],
        [nan, nan,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  6.],
        [ 3.,  3.,  3.,  3.,  5.,  5.,  5.,  5.,  6.,  6.],
        [ 3.,  3.,  3.,  3.,  3.,  5.,  5.,  6.,  6.,  6.],
        [ 3.,  3.,  3.,  3.,  3.,  3., nan,  6.,  6.,  6.]],

       [[ 2.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 1.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 2.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 3.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
        [ 4.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.],
        [ 5.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.],
        [ 6.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.],
        [ 7.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14.],
        [ 8.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15.]],

       [[ 7.,  6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.],
        [ 6.,  5.,  4.,  3.,  2.,  1.,  0.,  1.,  2.,  3.],
        [ 7.,  6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.],
        [ 8.,  7.,  6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.],
        [ 9.,  8.,  7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.],
        [10.,  9.,  8.,  7.,  6.,  5.,  4.,  5.,  6.,  7.],
        [11., 10.,  9.,  8.,  7.,  6.,  5.,  6.,  7.,  8.],
        [12., 11., 10.,  9.,  8.,  7.,  6.,  7.,  8.,  9.],
        [13., 12., 11., 10.,  9.,  8.,  7.,  8.,  9., 10.]],

       [[11., 10.,  9.,  8.,  9., 10., 11., 12., 13., 14.],
        [10.,  9.,  8.,  7.,  8.,  9., 10., 11., 12., 13.],
        [ 9.,  8.,  7.,  6.,  7.,  8.,  9., 10., 11., 12.],
        [ 8.,  7.,  6.,  5.,  6.,  7.,  8.,  9., 10., 11.],
        [ 7.,  6.,  5.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
        [ 6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.,  6.,  7.],
        [ 3.,  2.,  1.,  0.,  1.,  2.,  3.,  4.,  5.,  6.]],

       [[ 7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.,  7.],
        [ 5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.,  6.],
        [ 4.,  3.,  2.,  1.,  0.,  1.,  2.,  3.,  4.,  5.],
        [ 5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.,  6.],
        [ 6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.,  7.],
        [ 7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.,  8.],
        [ 8.,  7.,  6.,  5.,  4.,  5.,  6.,  7.,  8.,  9.],
        [ 9.,  8.,  7.,  6.,  5.,  6.,  7.,  8.,  9., 10.]],

       [[10.,  9.,  8.,  7.,  6.,  5.,  6.,  7.,  8.,  9.],
        [ 9.,  8.,  7.,  6.,  5.,  4.,  5.,  6.,  7.,  8.],
        [ 8.,  7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.],
        [ 7.,  6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.],
        [ 6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.],
        [ 5.,  4.,  3.,  2.,  1.,  0.,  1.,  2.,  3.,  4.],
        [ 6.,  5.,  4.,  3.,  2.,  1.,  2.,  3.,  4.,  5.],
        [ 7.,  6.,  5.,  4.,  3.,  2.,  3.,  4.,  5.,  6.],
        [ 8.,  7.,  6.,  5.,  4.,  3.,  4.,  5.,  6.,  7.]],

       [[17., 16., 15., 14., 13., 12., 11., 10.,  9.,  8.],
        [16., 15., 14., 13., 12., 11., 10.,  9.,  8.,  7.],
        [15., 14., 13., 12., 11., 10.,  9.,  8.,  7.,  6.],
        [14., 13., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.],
        [13., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.],
        [12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.],
        [11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.],
        [10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,  1.],
        [ 9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,  1.,  0.]]])

In [115]:
get_max_area(sheet)

Max area ID: 5
Max area: 17

## Day 6 - part 2

On the other hand, if the coordinates are safe, maybe the best you can do is try to find a region near as many coordinates as possible.

For example, suppose you want the sum of the Manhattan distance to all of the coordinates to be less than 32. For each location, add up the distances to all of the given coordinates; if the total of those distances is less than 32, that location is within the desired region. Using the same coordinates as above, the resulting region looks like this:

```
..........
.A........
..........
...###..C.
..#D###...
..###E#...
.B.###....
..........
..........
........F.
```

In particular, consider the highlighted location 4,3 located at the top middle of the region. Its calculation is as follows, where abs() is the absolute value function:

- Distance to coordinate A: abs(4-1) + abs(3-1) =  5
- Distance to coordinate B: abs(4-1) + abs(3-6) =  6
- Distance to coordinate C: abs(4-8) + abs(3-3) =  4
- Distance to coordinate D: abs(4-3) + abs(3-4) =  2
- Distance to coordinate E: abs(4-5) + abs(3-5) =  3
- Distance to coordinate F: abs(4-8) + abs(3-9) = 10
- Total distance: 5 + 6 + 4 + 2 + 3 + 10 = 30

Because the total distance to all coordinates (30) is less than 32, the location is within the region.

This region, which also includes coordinates D and E, has a total size of 16.

Your actual region will need to be much larger than this example, though, instead including all locations with a total distance of less than 10000.

**What is the size of the region containing all locations which have a total distance to all given coordinates of less than 10000?**

In [116]:
# import data
df6_test = pd.read_csv('../data/advent_of_code/day6_test.txt', header=None, names=['X', 'Y'])
df6_test.index = df6_test.index + 1
df6 = pd.read_csv('../data/advent_of_code/day6.txt', header=None, names=['X', 'Y'])
df6.index = df6.index + 1

In [117]:
sheet = make_sheet(df6)
manhattan_dist_by_target(df6, sheet)

array([[[ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        ...,
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan]],

       [[390., 389., 388., ..., 561., 562., 563.],
        [389., 388., 387., ..., 560., 561., 562.],
        [388., 387., 386., ..., 559., 560., 561.],
        ...,
        [146., 145., 144., ..., 317., 318., 319.],
        [147., 146., 145., ..., 318., 319., 320.],
        [148., 147., 146., ..., 319., 320., 321.]],

       [[360., 359., 358., ..., 591., 592., 593.],
        [359., 358., 357., ..., 590., 591., 592.],
        [358., 357., 356., ..., 589., 590., 591.],
        ...,
        [116., 115., 114., ..., 347., 348., 349.],
        [117., 116., 115., ..., 348., 349., 350.],
        [118., 117., 116., ..., 349., 350., 351.]],

       ...,

       [[570., 569., 568., ..., 451., 452., 453.],
        [569., 568., 567., ..., 450., 451., 452.],
        [568., 567., 566., ..., 449., 450., 451.],
        ...,
        [256., 255., 254., ..., 137., 138., 139.],
        [257., 256., 255., ..., 138., 139., 140.],
        [258., 257., 256., ..., 139., 140., 141.]],

       [[559., 558., 557., ..., 384., 385., 386.],
        [558., 557., 556., ..., 383., 384., 385.],
        [557., 556., 555., ..., 382., 383., 384.],
        ...,
        [323., 322., 321., ..., 148., 149., 150.],
        [324., 323., 322., ..., 149., 150., 151.],
        [325., 324., 323., ..., 150., 151., 152.]],

       [[313., 312., 311., ..., 198., 199., 200.],
        [312., 311., 310., ..., 197., 198., 199.],
        [311., 310., 309., ..., 196., 197., 198.],
        ...,
        [509., 508., 507., ..., 394., 395., 396.],
        [510., 509., 508., ..., 395., 396., 397.],
        [511., 510., 509., ..., 396., 397., 398.]]])

In [118]:
sheet[0] = np.nan
sheet

array([[[ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        ...,
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan]],

       [[390., 389., 388., ..., 561., 562., 563.],
        [389., 388., 387., ..., 560., 561., 562.],
        [388., 387., 386., ..., 559., 560., 561.],
        ...,
        [146., 145., 144., ..., 317., 318., 319.],
        [147., 146., 145., ..., 318., 319., 320.],
        [148., 147., 146., ..., 319., 320., 321.]],

       [[360., 359., 358., ..., 591., 592., 593.],
        [359., 358., 357., ..., 590., 591., 592.],
        [358., 357., 356., ..., 589., 590., 591.],
        ...,
        [116., 115., 114., ..., 347., 348., 349.],
        [117., 116., 115., ..., 348., 349., 350.],
        [118., 117., 116., ..., 349., 350., 351.]],

       ...,

       [[570., 569., 568., ..., 451., 452., 453.],
        [569., 568., 567., ..., 450., 451., 452.],
        [568., 567., 566., ..., 449., 450., 451.],
        ...,
        [256., 255., 254., ..., 137., 138., 139.],
        [257., 256., 255., ..., 138., 139., 140.],
        [258., 257., 256., ..., 139., 140., 141.]],

       [[559., 558., 557., ..., 384., 385., 386.],
        [558., 557., 556., ..., 383., 384., 385.],
        [557., 556., 555., ..., 382., 383., 384.],
        ...,
        [323., 322., 321., ..., 148., 149., 150.],
        [324., 323., 322., ..., 149., 150., 151.],
        [325., 324., 323., ..., 150., 151., 152.]],

       [[313., 312., 311., ..., 198., 199., 200.],
        [312., 311., 310., ..., 197., 198., 199.],
        [311., 310., 309., ..., 196., 197., 198.],
        ...,
        [509., 508., 507., ..., 394., 395., 396.],
        [510., 509., 508., ..., 395., 396., 397.],
        [511., 510., 509., ..., 396., 397., 398.]]])

In [119]:
#cutoff = 32
cutoff = 10000
for arr_index, arr_val in np.ndenumerate(sheet[0]):
    sheet[0,arr_index[0],arr_index[1]] = np.sum(sheet[1:,arr_index[0],arr_index[1]])
    if sheet[0,arr_index[0],arr_index[1]] < cutoff:
        sheet[0,arr_index[0],arr_index[1]] = 1
    else:
        sheet[0,arr_index[0],arr_index[1]] = np.nan
sheet

array([[[ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        ...,
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan],
        [ nan,  nan,  nan, ...,  nan,  nan,  nan]],

       [[390., 389., 388., ..., 561., 562., 563.],
        [389., 388., 387., ..., 560., 561., 562.],
        [388., 387., 386., ..., 559., 560., 561.],
        ...,
        [146., 145., 144., ..., 317., 318., 319.],
        [147., 146., 145., ..., 318., 319., 320.],
        [148., 147., 146., ..., 319., 320., 321.]],

       [[360., 359., 358., ..., 591., 592., 593.],
        [359., 358., 357., ..., 590., 591., 592.],
        [358., 357., 356., ..., 589., 590., 591.],
        ...,
        [116., 115., 114., ..., 347., 348., 349.],
        [117., 116., 115., ..., 348., 349., 350.],
        [118., 117., 116., ..., 349., 350., 351.]],

       ...,

       [[570., 569., 568., ..., 451., 452., 453.],
        [569., 568., 567., ..., 450., 451., 452.],
        [568., 567., 566., ..., 449., 450., 451.],
        ...,
        [256., 255., 254., ..., 137., 138., 139.],
        [257., 256., 255., ..., 138., 139., 140.],
        [258., 257., 256., ..., 139., 140., 141.]],

       [[559., 558., 557., ..., 384., 385., 386.],
        [558., 557., 556., ..., 383., 384., 385.],
        [557., 556., 555., ..., 382., 383., 384.],
        ...,
        [323., 322., 321., ..., 148., 149., 150.],
        [324., 323., 322., ..., 149., 150., 151.],
        [325., 324., 323., ..., 150., 151., 152.]],

       [[313., 312., 311., ..., 198., 199., 200.],
        [312., 311., 310., ..., 197., 198., 199.],
        [311., 310., 309., ..., 196., 197., 198.],
        ...,
        [509., 508., 507., ..., 394., 395., 396.],
        [510., 509., 508., ..., 395., 396., 397.],
        [511., 510., 509., ..., 396., 397., 398.]]])

In [120]:
sheet[0]

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]])

In [121]:
np.nansum(sheet[0])

42535.0

## Day 7 - part 1

The instructions specify a series of steps and requirements about which steps must be finished before others can begin (your puzzle input). Each step is designated by a single letter. For example, suppose you have the following instructions:

```
Step C must be finished before step A can begin.
Step C must be finished before step F can begin.
Step A must be finished before step B can begin.
Step A must be finished before step D can begin.
Step B must be finished before step E can begin.
Step D must be finished before step E can begin.
Step F must be finished before step E can begin.
```

Visually, these requirements look like this:

```
  -->A--->B--
 /    \      \
C      -->D----->E
 \           /
  ---->F-----
```

Your first goal is to determine the order in which the steps should be completed. If more than one step is ready, choose the step which is first alphabetically. In this example, the steps would be completed as follows:

- Only C is available, and so it is done first.
- Next, both A and F are available. A is first alphabetically, so it is done next.
- Then, even though F was available earlier, steps B and D are now also available, and B is the first alphabetically of the three.
- After that, only D and F are available. E is not available because only some of its prerequisites are complete. Therefore, D is completed next.
- F is the only choice, so it is done next.
- Finally, E is completed.

So, in this example, the correct order is CABDFE.

In what order should the steps in your instructions be completed?

In [122]:
# import data
df7_test = pd.read_csv('../data/advent_of_code/day7_test.txt', header=None, names=['raw'])
df7 = pd.read_csv('../data/advent_of_code/day7.txt', header=None, names=['raw'])
#df7_test.head(7)

In [123]:
df7_test['start'] = df7_test.raw.str.split().str[1]
df7_test['stop'] = df7_test.raw.str.split().str[7]
df7['start'] = df7.raw.str.split().str[1]
df7['stop'] = df7.raw.str.split().str[7]
df7_test.head(7)

                                                raw start stop
0  Step C must be finished before step A can begin.     C    A
1  Step C must be finished before step F can begin.     C    F
2  Step A must be finished before step B can begin.     A    B
3  Step A must be finished before step D can begin.     A    D
4  Step B must be finished before step E can begin.     B    E
5  Step D must be finished before step E can begin.     D    E
6  Step F must be finished before step E can begin.     F    E

solution is: CABDFE

In [124]:
df7.sort_values(['start','stop'], ascending=[True,True], inplace=True)
df7.reset_index(drop=True, inplace=True)
df7.head()

                                                raw start stop
0  Step A must be finished before step G can begin.     A    G
1  Step A must be finished before step O can begin.     A    O
2  Step A must be finished before step R can begin.     A    R
3  Step A must be finished before step Y can begin.     A    Y
4  Step B must be finished before step I can begin.     B    I

In [125]:
def build_stop_list(dataframe):
    """build a stop list on the fly"""
    all_stops = []
    for row in dataframe.itertuples():
        all_stops.append(row.stop)
    return all_stops

In [131]:
all_stops = build_stop_list(df7_test)

In [132]:
def find_next(dataframe, stop_list):
    """find next step until none left, return path"""
    path = []
    while len(stop_list) > 1:
        for row in dataframe.itertuples():
            if row.start in stop_list:
                continue
            if row.start not in stop_list:
                path.append(row.start)
                # delete row in df
                dataframe.drop([row.Index], inplace=True)
                # rebuild stop_list in stop_list
                stop_list = build_stop_list(dataframe)
    path.append(row.stop)
    return path
# CABDFE

In [133]:
path = list(OrderedDict.fromkeys(find_next(df7_test, all_stops)))

In [135]:
all_stops = build_stop_list(df7)

In [136]:
path = list(OrderedDict.fromkeys(find_next(df7, all_stops)))

In [137]:
path_output = ''
for l in path:
    path_output += l
path_output

'JKPTXDEFUABHOQSVYZMNLCIGRW'

In [111]:
# wrong answer JKPTXDEFUABHOQSVYZMNLCIGRW