In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'col1': [np.nan, 2, np.nan],
     'col2': [1, np.nan, np.nan],
     'col3': [np.nan, np.nan, 3],
     'col4': [np.nan,np.nan,np.nan],}
df = pd.DataFrame(data=d)

In [3]:
df

   col1  col2  col3  col4
0   NaN   1.0   NaN   NaN
1   2.0   NaN   NaN   NaN
2   NaN   NaN   3.0   NaN

In [4]:
df.describe(percentiles=[0.1,0.14,0.5,0.9])

       col1  col2  col3  col4
count   1.0   1.0   1.0   0.0
mean    2.0   1.0   3.0   NaN
std     NaN   NaN   NaN   NaN
min     2.0   1.0   3.0   NaN
10%     2.0   1.0   3.0   NaN
14.0%   2.0   1.0   3.0   NaN
50%     2.0   1.0   3.0   NaN
90%     2.0   1.0   3.0   NaN
max     2.0   1.0   3.0   NaN

In [5]:
df.describe().loc['mean']

col1    2.0
col2    1.0
col3    3.0
col4    NaN
Name: mean, dtype: float64

In [6]:
df_ = pd.DataFrame(df.describe(include='all').loc['mean'])
df_ = df_.transpose()
df_.reset_index(drop=True, inplace=True)
df_

   col1  col2  col3  col4
0   2.0   1.0   3.0   NaN

In [7]:
df

   col1  col2  col3  col4
0   NaN   1.0   NaN   NaN
1   2.0   NaN   NaN   NaN
2   NaN   NaN   3.0   NaN