In [1]:
import pandas as pd
import numpy as np

In [2]:
header = [np.array(['A','B','C','D','E','F']), 
np.array(['S1','S2','S3','S1','S2','S3'])] 
df = pd.DataFrame(np.random.randn(5, 6), index=['a','b','c','d','e'], columns = header )   
df

          A         B         C         D         E         F
         S1        S2        S3        S1        S2        S3
a -0.281352  1.853856  0.434618  1.217928  0.506127 -1.577031
b -0.119183 -0.416384  0.800433  0.655229 -1.782040  1.457625
c -0.487229  1.044345  1.446215 -1.065278  2.014485  1.133135
d -1.539657  0.305269 -2.311296  0.617630 -0.882015  0.623362
e  0.870788  0.164869  0.213694  1.561169  1.048691 -0.578764

In [3]:
df.A

         S1
a -0.281352
b -0.119183
c -0.487229
d -1.539657
e  0.870788

In [4]:
df.A.S1

a   -0.281352
b   -0.119183
c   -0.487229
d   -1.539657
e    0.870788
Name: S1, dtype: float64

In [5]:
df.A.columns[0]

'S1'