# Lambda, Map, Filter and Reduce functions

based on [Joe James'](https://www.youtube.com/channel/UC4Xt-DUAapAtkfaWWkv4OAw) [youtube video](https://www.youtube.com/watch?v=cKlnR-CB3tk)

## Lambda function

- A simple one line function
- Does not use `def` nor `return` as they are implicit

In [17]:
def double(x):
    return 2 * x

res = lambda x: 2*x

double(3), res(3)

(6, 6)

In [18]:
def add(x,y):
    return x + y

res = lambda x,y: x + y

add(3,4), res(3,4)

(7, 7)

In [20]:
def mx(x,y):
    if x > y:
        return x
    else:
        return y

res = lambda x,y: x if x > y else y
    
mx(5,3), res(5,3)

(5, 5)

## Map function

- apply same function to each element of an iterable
- return the modified list

In [34]:
mylist = [1,2,3]
def square(x):
    return x**2
newlist = [square(n) for n in mylist]
newlist2 = [x**2 for x in mylist]

res = list(map(lambda x: x**2, mylist))
res2 = list(map(square, mylist))

newlist, newlist2, res, res2

([1, 4, 9], [1, 4, 9], [1, 4, 9], [1, 4, 9])

## Filter function

- Remove items out of a sequence
- Return filtered sequence

In [41]:
mylist = [5,7,8,]
condition = 6

def over_six(seq, cond):
    return [x for x in seq if x > 6]


res = list(filter(lambda x: x > condition, mylist))

over_six(mylist, condition), res

([7, 8], [7, 8])

## Reduce function

- Applies same operation to items in iterable
- Uses result of operation as first parameter for next operation
- Returns a single item, not an iterable

In [52]:
from functools import reduce

In [53]:
mylist = [4,6,8]

def mult(seq):
    prod = seq[0]
    for i in range(1,len(seq)):
        prod *= seq[i]
    return prod

res = reduce(lambda x, y: x * y, mylist)

mult(mylist), res

(192, 192)

## Apply and Map in Pandas

In [61]:
import numpy as np
import pandas as pd

In [88]:
# first let's make a fake log
logpoints = np.arange(1200, 1650, 10)
d = {'depth': logpoints, 'GR': np.random.uniform(low=0, high=150, size=len(logpoints))}
df = pd.DataFrame(data=d)
df.head()

   depth          GR
0   1200   68.527250
1   1210  105.582462
2   1220  110.614855
3   1230  119.083566
4   1240    9.727327

Examples based on [Chris Albon's excellent work](https://chrisalbon.com/python/data_wrangling/pandas_apply_operations_to_dataframes/).

In [89]:
log_editor = lambda x: x + 15
df['GR_edit'] = df.GR.apply(log_editor)
df.head()

   depth          GR     GR_edit
0   1200   68.527250   83.527250
1   1210  105.582462  120.582462
2   1220  110.614855  125.614855
3   1230  119.083566  134.083566
4   1240    9.727327   24.727327

In [90]:
df['GR_edit_2'] = df.GR.map(log_editor)
df.head()

   depth          GR     GR_edit   GR_edit_2
0   1200   68.527250   83.527250   83.527250
1   1210  105.582462  120.582462  120.582462
2   1220  110.614855  125.614855  125.614855
3   1230  119.083566  134.083566  134.083566
4   1240    9.727327   24.727327   24.727327

In [91]:
# filtering
df[df.GR > 140]

    depth          GR     GR_edit   GR_edit_2
29   1490  143.628593  158.628593  158.628593
37   1570  141.465973  156.465973  156.465973