In [8]:
import pandas as pd
import numpy as np

In [9]:
my_well = [1200,1300,1400,1500, 1600, 1700, 1800]

In [11]:
df = pd.DataFrame(my_well, columns=['depth'])
df

   depth
0   1200
1   1300
2   1400
3   1500
4   1600
5   1700
6   1800

In [12]:
df['new_col'] = np.where(df['depth']>=1300, 20, 'no')

In [13]:
df

   depth new_col
0   1200      no
1   1300      20
2   1400      20
3   1500      20
4   1600      20
5   1700      20
6   1800      20